.content-more {
    padding: 25px;
}
.content-more h3 {
    text-decoration: underline;
    margin: 10px 0;
}
.content-more p {
    line-height: 25px;
}
.knowmorebtn {
    position: static;
    float: right;
    margin: 20px 0;
}